.container {
  position: fixed;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.text {
  width: 400px;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  cursor: pointer;
}
.text2 {
  width: 400px;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: #dfdfdf;
  cursor: pointer;
}
.text:hover {
  background-color: #dfdfdf;
}
